<% bookmarks.each do |page| %>
  <tr onclick="location.href='<%= bookmark_path(page) %>'">
    <td></td>
    <td><%= page.tags %></td>
    <td><%= page.title %></td>
    <td><%= page.description %></td>
    <td><span class="icon delete"><span class="mr-1">Delete</span><%= fa_icon "trash", title:'delete' %></span></td>
  </tr>
<% end %>
