<% @grouped_bookmarks.values.each do |bookmarks| %>
  <% if @domain != domain = bookmarks.first.domain.domain %>
    <tr onclick="location.href='<%= domain_path(bookmarks.first.domain) %>'">
      <th><b><%= link_to domain, domain_path(bookmarks.first.domain) %></b></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% end %>
    <%= render partial: "bookmarks/bookmark", locals: {bookmarks: bookmarks} %>
<% end %>
