jQuery("#bookmarks-container").append("<%= j(render(partial: "bookmarks")) %>");
<% if @bookmarks.empty? %>
  jQuery("#load-more-bookmarks").hide();
<% else %>
  jQuery("#load-more-bookmarks").attr("href", "<%= bookmarks_path(page: @current_page+1, name_search: @name_search, last_domain: @grouped_bookmarks.values.last.last.domain.domain) %>");
<% end %>
