<%= flash[:error] if flash[:error] %>
<%= flash[:message] if flash[:message] %>
<div class="text-center mb-3">
  <%= form_for :bookmark do |f| %>
    <%= f.label :Bookmark,class: 'font-weight-bold' %></br>
    <%= f.text_field :url, placeholder: 'url', class: 'form-input mx-1' %>
    <%= f.submit :Add, class: 'btn btn-primary' %>
    <div> <span class='mr-1'>Tags</span> <%= f.text_field :tags, class: 'form-input mt-1' %></div>
  <% end %>
</div>
<div>
  <div>
    <%= form_tag(bookmarks_path, method: :get) do %>
      <%= text_field_tag :name_search, params[:name_search], placeholder: 'title tag url desc..', class: 'form-input mx-1' %>
      <%= submit_tag 'Search', name: nil, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <% if @bookmarks.nil? || @bookmarks.empty? %>
  <span>
    No Available bookmarks
  </span>
  <% else %>
    <table id="bookmarks-container" class="table table-hover mt-3">
      <tbody>
        <tr class="none-hover">
          <th>domain</th>
          <th>tags</th>
          <th>title</th>
          <th>description</th>
          <th></th>
        </tr>
        <%= render partial: "bookmarks/bookmarks" %>
      </tbody>
    </table>
    <div class="my-2">
      <%= link_to "Load more", bookmarks_path({ page: @current_page+1, name_search: @name_search, last_domain: @grouped_bookmarks.values.last.last.domain.domain }), id: "load-more-bookmarks", remote: true %>
    </div>
  <% end %>
</div>
