<%= flash[:error] if flash[:error] %>
<%= flash[:message] if flash[:message] %>
<table id="bookmark-container" class="table">
  <tr>
    <th>title</th>
    <td><%= @bookmark.title %></td>
  </tr>
  <tr>
    <th>description</th>
    <td><%= @bookmark.description %></td>
  </tr>
  <tr>
    <th>tags</th>
    <td><%= @bookmark.tags %></td>
  </tr>
  <tr>
    <th>title</th>
    <td><%= @bookmark.title %></td>
  </tr>
  <tr>
    <th>url</th>
    <td><a href="<%= @bookmark.url %>"><%= @bookmark.url %></a></td>
  </tr>
</table>
<div>
<%= link_to "Bookmarks", bookmarks_path %>
</div>
