jQuery("#bookmarks-container").append("<%= j(render(partial: "bookmarks/bookmark", locals: {bookmarks: @bookmarks})) %>");
<% if @bookmarks.last_page? || @bookmarks.empty? %>
  jQuery("#load-more-bookmarks").hide();
<% else %>
  jQuery("#load-more-bookmarks").attr("href", "<%= domains_path(page: @current_page+1) %>");
<% end %>
