<div>
  <% if @bookmarks.nil? %>
    <span>
      No Available bookmarks
    </span>
  <% else %>
    <table id="bookmarks-container" class="table table-hover">
      <tr class="none-hover">
        <th></td>
        <th>tags</td>
        <th>title</td>
        <th>description</td>
      </tr>
      <tr class="none-hover">
        <th><%= @bookmarks.first.domain.domain %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <%= render partial: "bookmarks/bookmark", locals: {bookmarks: @bookmarks}%>
    </table>
    <% unless @bookmarks.last_page? || @bookmarks.empty? %>
      <%= link_to "Load more", domains_path({ page: @current_page+1, id: @bookmarks.last.domain.id }), id: "load-more-bookmarks", remote: true %>
    <% end %>
  <% end %>
</div>
<div>
<%= link_to "Bookmarks", bookmarks_path %>
</div>
