tbody tr:first-child td,
tbody tr:first-child th {
    border-top: none;
}

table tbody .none-hover:hover {
  background-color: transparent;
  cursor: text;
}

.table-hover {
  cursor: pointer;
}

.form-input {
  padding: 0.4rem 0.5rem;
  border: 0.05rem solid rgba(0, 0, 0, .2);
  border-radius: 0.5rem;
}

.bg-bl{
  background-color: #E0E0E0;
}

.delete:hover {
  color: red;
}

.icon {
  white-space: nowrap;
}
